.download{
    background-color: #fff;
    padding: 80px 0;
}
.download-wrap{
 display: flex;
 justify-content: center;
 flex-direction: column;
}
.top{
 margin-bottom: 50px;
}
.download-title{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}
.download-text{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
.page-download_btn_block{
    justify-content: center;
    display: flex;
    /* -webkit-box-pack: center; */
    margin-bottom: 50px;
   
}
.page-download_btn{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #FF4343;
    padding: 20px 90px;
    text-decoration: none;
    transition: 0.3s;
}
.page-download_btn:hover{
    color: #fff;
    background-color: #E71414;
}
.page-download_btn:active{
    color: #fff;
    box-shadow: 0px 1px 17px #FF4343;
    background-color: #FF4343;
}